.header{
    background-color: rgb(168, 73, 73);
    text-align: center;
    color: beige;
    font-size: 22px;
    width: 100%;
    margin-top: 0;
}

.note{
    text-align: center;
    color: rgb(37, 37, 36);
    font-size: 15px;
    
    width: 100%;
}

.footer{
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: 20;
    line-height: 2;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.801);
    color: honeydew;
}
canvas{
    border: 5px solid black;
    box-shadow: 5px 5px 5px black;
}

video{
    border: 5px solid black;
    box-shadow: 5px 5px 5px black;
}